
.stats {
  width: 400px;
}

.stat-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stat-number {
  font-family: KimDaeGeon;
}

.green {
  color: limegreen;
}

.red {
  color: red;
}

.black {
  color: black;
}

.gray {
  color: gray;
}